.opretEnsemble-container {
  background-color: #f9f9f9;
}
.opretEnsemble-container2 {
  max-width: 350px;
  margin: 0 auto;
}

.opslag-title {
  font-family: "Oswald";
  color: #353a5d;
  display: flex;
}

.input-navn {
  font-family: "Montserrat", sans-serif;
  width: 312px;
  display: flex;
  margin: 0 auto;
  height: 50px;
  color: #777777;
  margin-top: 15px;
  border-radius: 10px;
  padding: 16px 16px 15px 16px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.input-navn2 {
  font-family: "Montserrat", sans-serif;
  width: 312px;
  resize: none;
  display: flex;
  margin: 0 auto;
  height: 119px;
  color: #777777;
  margin-top: 15px;
  border-radius: 10px;
  padding: 16px 16px 15px 16px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.opslag-subtitle {
  color: #353a5d;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.omarade1 {
  font-family: "Montserrat", sans-serif;
  width: 122px;
  height: 50px;
  color: #777777;
  border-radius: 10px;
  border-width: 1px;
  padding: 16px 16px 15px 16px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.omarade2 {
  font-family: "Montserrat", sans-serif;
  width: 202px;
  height: 50px;
  color: #777777;
  border-radius: 10px;
  border-width: 1px;
  padding: 16px 16px 15px 16px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.selectmusicians {
  font-family: "Montserrat", sans-serif;
  width: 345px;
  height: 50px;
  color: #777777;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  border-width: 1px;
  padding: 16px 16px 15px 16px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.multiselect-gender {
  border-radius: 10px;
  border-width: 1px;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.44);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.form-error2 {
  padding-top: 15px;
  padding-left: 5px;
  color: $mainRed;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 14px;
}

.btn-modal {
  width: 150px;
  margin: auto;
  margin-top: 15px;
}

.success-modal2 {
  position: fixed;
  font-family: "Montserrat", sans-serif;
  color: $mainWhite;
  z-index: 1000;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 180px;
  background-color: $mainBlue;
  border-radius: 8px;

  h1 {
    font-weight: 600;
    font-size: 29px;
    font-family: "Oswald";
    text-align: center;
    padding-top: 35px;
  }
}

.opretEnsemble-container {
  h2 {
    font-family: "Oswald";
    color: $mainBlue;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
    font-family: "Oswald";
    color: $mainBlue;
    padding-top: 15px;
    padding-left: 5px;
  }
}

.omarade2 {
  width: 100% !important;
}
