.opret-agent{
    display: flex;
    flex-direction: column;
    width: 340px;
    padding: 25px 15px;
    border-radius: 10px;
    background-color: $mainWhite;
}
.h1{
    text-align: center;
    color: #353A5D;
    font-family: Oswald;
    font-size: 20px;
}
.h2{
    text-align: center;
    color: #777777;
    font-family: Monteserrat;
    font-size: 16px;
}
.tilbage-btn2{
    @include button2();
    margin-top: 18px;
    }
